## import modules

In [1]:
# Data manipulation and scientific computing -----------------------------------
import pandas as pd
import numpy as np

## get the data

In [2]:
GEO = pd.read_csv('../../../Input_open_data/ds05_LOCALIZACION-ESTACIONES-METEOROLOGICAS.csv', sep=';')

In [3]:
GEO.head()

  CODIGO  ESTACION TIPO    XUTM     YUTM  cota (m)
0   C076  Abetxuko    A  527154  4747039       510
1   C056   Alegria    A  538992  4743676       545
2   C035    Altube    M  510880  4757063       618
3   C0A3  Antoñana    A  549965  4725290       573
4   C001   Arkaute    M  530608  4744631       517

## do the python magic

## Export the data

In [4]:
GEO.to_csv('WBds01_GEO.csv')