## import modules

In [2]:
# Data manipulation and scientific computing -----------------------------------
import pandas as pd
import numpy as np

## get the data

In [10]:
QUEEN = pd.read_csv('../../../Input_open_data/ds02_datos-nidos-avispa-asiatica.csv', sep=',')

In [11]:
QUEEN.head()

,_id,URTEA/ANIO,JARDUERA_ZENBAKIA/NUM_ACTUACION,ALTA_DATA/FECHA ALTA,ERABILTZAILEA_EU/USUARIO_EU,ERABILTZAILEA_CAS/USUARIO_CAS,UDALERRIA/MUNICIPIO,HELBIDEA/DIRECCION,ESPEZIE/ESPECIE,KOKALEKUA/UBICACION,ALTUERA/ALTURA,DIAMETROA/DIAMETRO,longitude,latitude,EGOERA_EU/ESTADO_EU,EGOERA_CAS/ESTADO_CAS,ITXIERA_DATA/FECHA CIERRE,ITXIERAKO AGENTEA_EU/AGENTE CIERRE_EU,ITXIERAKO AGENTEA_CAS/AGENTE CIERRE_CAS
0,1,2019,214,2019-07-06 00:00:00,ABADIÑOKO UDALA,AYUNTAMIENTO ABADIÑO,ABADIÑO,OLALDE,AVISPA ASIÁTICA,CONSTRUCCIÓN,0.0,1.0,"532124,0816","4777436,519",ITXITA - EZABATUTA,CERRADA - ELIMINADO,2019-06-15 00:00:00,SUHILTZAILEAK,BOMBEROS
1,2,2019,22,2019-03-25 00:00:00,BASALAN,BASALAN,ABADIÑO,MCDONALD'S ABADIÑO,AVISPA ASIÁTICA,CONSTRUCCIÓN,8.0,10.0,"531000,5783","4779715,773",ITXITA - EZABATUTA,CERRADA - ELIMINADO,2019-03-25 00:00:00,BASALAN,BASALAN
2,3,2019,434,2019-08-07 00:00:00,ABADIÑOKO UDALA,AYUNTAMIENTO ABADIÑO,ABADIÑO,GEREDIAGA AUZOA 2,AVISPA COMÚN,CONSTRUCCIÓN,2.0,2.0,"532159,4404","4779313,024",ITXITA - EZABATUTA,CERRADA - ELIMINADO,2019-09-07 00:00:00,SUHILTZAILEAK,BOMBEROS
3,4,2019,565,2019-07-20 00:00:00,ABADIÑOKO UDALA,AYUNTAMIENTO ABADIÑO,ABADIÑO,MUNTSARATZ Nº 19 A,AVISPA ASIÁTICA,CONSTRUCCIÓN,4.0,20.0,"532457,6901","4777072,989",ITXITA - EZABATUTA,CERRADA - ELIMINADO,2019-07-20 00:00:00,SUHILTZAILEAK,BOMBEROS
4,5,2019,766,2019-06-08 00:00:00,ABADIÑOKO UDALA,AYUNTAMIENTO ABADIÑO,ABADIÑO,ARRANKURRI KALEA 58,AVISPA ASIÁTICA,ARBOLADO,10.0,30.0,"531388,7069","4777964,231",ITXITA - EZABATUTA,CERRADA - ELIMINADO,2019-06-08 00:00:00,SUHILTZAILEAK,BOMBEROS

In [3]:
GEO = pd.read_csv('./WBds01_GEO.csv', sep=',')
GEO.head()

   Unnamed: 0 CODIGO  ESTACION TIPO    XUTM     YUTM  cota (m)
0           0   C076  Abetxuko    A  527154  4747039       510
1           1   C056   Alegria    A  538992  4743676       545
2           2   C035    Altube    M  510880  4757063       618
3           3   C0A3  Antoñana    A  549965  4725290       573
4           4   C001   Arkaute    M  530608  4744631       517

In [4]:
METEO = pd.read_csv('./WBds02_METEO.csv', sep=',')
METEO.head()

,Unnamed: 0,COD.,ESTACION,cota (m),ENE,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SET,OCT,NOV,DIC,SUMA
0,0,NaN,NaN,NaN,NaN,NaN,NaN,DÍAS DE HELADA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,KOD.,ESTAZIOA,kota (m),URT,OTS,MAR,API,MAI,EKA,UZT,ABU,IRA,URR,AZA,ABE,BATURA
2,2,C076,Abetxuko,510,9,9,3,3,0,0,0,0,0,1,2,10,37
3,3,C056,Alegria,545,8,9,3,3,1,0,0,0,0,2,3,13,42
4,4,C035,Altube,618,5,4,0,3,1,0,0,0,0,0,0,6,19

## do the python magic

In [14]:
QUEENtrain = QUEEN.loc[:,['HELBIDEA/DIRECCION']]

In [15]:
QUEENpredict = QUEEN .loc[:,['ESPEZIE/ESPECIE']]

## Export the data

In [16]:
QUEENtrain.to_csv('WBds03_QUEENtrain.csv')

In [17]:
QUEENpredict.to_csv('WBds03_QUEENpredict.csv')