## import modules

In [1]:
# Data manipulation and scientific computing -----------------------------------
import pandas as pd
import numpy as np

## get the data

In [2]:
METEO = pd.read_csv('../../../Input_open_data/ds06-2016_DÍAS DE HELADA 2016.csv', sep=';')

In [3]:
METEO.head()

,COD.,ESTACION,cota (m),ENE,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SET,OCT,NOV,DIC,SUMA
0,NaN,NaN,NaN,NaN,NaN,NaN,DÍAS DE HELADA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KOD.,ESTAZIOA,kota (m),URT,OTS,MAR,API,MAI,EKA,UZT,ABU,IRA,URR,AZA,ABE,BATURA
2,C076,Abetxuko,510,9,9,3,3,0,0,0,0,0,1,2,10,37
3,C056,Alegria,545,8,9,3,3,1,0,0,0,0,2,3,13,42
4,C035,Altube,618,5,4,0,3,1,0,0,0,0,0,0,6,19

## do the python magic

## Export the data

In [4]:
METEO.to_csv('WBds02_METEO.csv')