## import modules

In [1]:
# Data manipulation and scientific computing -----------------------------------
import pandas as pd
import numpy as np

## get the data

In [2]:
QUEENtrain = pd.read_csv('./WBds03_QUEENtrain.csv', sep=',')
QUEENtrain.head()

   Unnamed: 0     HELBIDEA/DIRECCION
0           0                 OLALDE
1           1     MCDONALD'S ABADIÑO
2           2    GEREDIAGA AUZOA 2
3           3     MUNTSARATZ Nº 19 A
4           4  ARRANKURRI KALEA 58

In [3]:
QUEENpredict = pd.read_csv('./WBds03_QUEENpredict.csv', sep=',')
QUEENpredict.head()

   Unnamed: 0  ESPEZIE/ESPECIE
0           0  AVISPA ASIÁTICA
1           1  AVISPA ASIÁTICA
2           2     AVISPA COMÚN
3           3  AVISPA ASIÁTICA
4           4  AVISPA ASIÁTICA

## do the HEX machine learning AI super cool stuff

In [4]:
HEX = QUEENpredict + QUEENtrain

## Export the data

In [5]:
HEX.to_csv('WaspBusters_2021MMDD_batch_zzDummyFlow.csv')